server:
  port: ${SERVER_PORT:8085}
spring:
  application:
    name: customer-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5437/customerdb}
    username: ${DB_USERNAME:customer}
    password: ${DB_PASSWORD:customer}
  jpa:
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:2q8pKX2a7o1X6jO0Vqkq0+U2YQj9tS8R4qv8x9w1e+M=}
  internal-api-key: ${INTERNAL_API_KEY:changeme}

crp:
  security:
    jwt:
      enforce-audience: true
