server:
  port: ${SERVER_PORT:8080}
spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

bff:
  issuer: ${BFF_ISSUER:http://keycloak:8080/realms/crp}
  client-id: ${BFF_CLIENT_ID:crp-cli}
  cookie:
    name: ${BFF_COOKIE_NAME:refresh_token}
    secure: ${BFF_COOKIE_SECURE:false}
    same-site: ${BFF_COOKIE_SAMESITE:Lax}
