spring:
  cloud:
    gateway:
      routes:
        - id: auth
          uri: http://auth-service:8081
          predicates: [ Path=/auth/** ]
        - id: inventory
          uri: http://inventory-service:8082
          predicates: [ Path=/inventory/**, Path=/equipment/** ]
        - id: procurement
          uri: http://procurement-service:8083
          predicates: [ Path=/requests/** ]
        - id: reports
          uri: http://reports-service:8084
          predicates: [ Path=/reports/** ]
        - id: customers
          uri: http://customer-service:8085
          predicates: [ Path=/customers/** ]
        - id: kyc
          uri: http://kyc-service:8086
          predicates: [ Path=/kyc/** ]
        - id: underwriting
          uri: http://underwriting-service:8087
          predicates: [ Path=/underwriting/** ]
        - id: pricing
          uri: http://product-pricing-service:8088
          predicates: [ Path=/pricing/** ]
        - id: application
          uri: http://application-service:8089
          predicates: [ Path=/applications/** ]
        - id: agreement
          uri: http://agreement-service:8090
          predicates: [ Path=/agreements/** ]
        - id: billing
          uri: http://billing-service:8091
          predicates: [ Path=/billing/** ]
        - id: payments
          uri: http://payments-service:8092
          predicates: [ Path=/payments/** ]
        - id: schedule
          uri: http://schedule-service:8093
          predicates: [ Path=/schedule/** ]
        - id: edocs
          uri: http://edocs-service:8094
          predicates: [ Path=/edocs/** ]
        - id: bpm
          uri: http://bpm-service:8095
          predicates: [ Path=/bpm/** ]
        - id: oidc
          uri: http://keycloak:8080
          predicates: [ Path=/oidc/** ]
          filters:
            - StripPrefix=1
