apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: crp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:2.9.4
          args:
            - "-config.file=/etc/loki/local-config.yaml"
          ports:
            - containerPort: 3100
          volumeMounts:
            - name: data
              mountPath: /loki
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: crp
spec:
  selector:
    app: loki
  ports:
    - name: http
      port: 3100
      targetPort: 3100

